# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd

# Django
*.log
*.sqlite3
db.sqlite3
/static/
media/
.env

# Virtual environment
venv/
ENV/
.env/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
